# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# SQLite database
database.db

# VS Code settings
.vscode/

# macOS-specific
.DS_Store